html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555B6E;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 32px;
  font-weight: bold;
}

h2 {
font-family: 'PT Serif', serif;
  font-size: 24px;
}

a {
  color: #5863F8;
}

.container {
  max-width: 1024px;
  margin: auto;
}

/* HEADER */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header-logo {
  margin-left: 24px;
  height: 32px;
  display: flex;
  align-items: center;
}

.menu {
  padding-right: 8px;
  color: #5863F8;
}

.menu span {
  margin-right: 16px;
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #FAFAFF;
}

.banner img {
  width: 60%;
  margin: 32px 24px;
}

.banner .start {
  width: 30%;
}

.banner .button h2{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  background-color: #5863F8;
}

.start h1, .start h2 {
  margin-bottom: 24px;
}

nav.mobile-container {
  display: none;
}


/* INFORMATION SECTION */

.information {
  width: 100%;
  display: flex;
  align-content: space-between;
}

.success {
  margin: 32px 24px;
  width: 60%;
}

.success img {
  width: 100%;
}

.success h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.success p {
  padding-bottom: 32px;
}

.events {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 32px;
}

.image-container {
  display: inline-flex;
  align-items: center;
}

.image-container img.desktop-image {
  width: 35%;
  height: auto;
  margin: 16px;
}

.image-details {
  width: 65%;
  padding-right: 8px;
}

.image-details h2, .image-details p {
  padding-bottom: 8px;
}

img.mobile-image {
  display: none;
}

/* COURSES */

.courses {
  width: 100%;
  text-align: center;
  background-color: #FAFAFF;
}

.courses h1 {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;
}

.subject {
  width: 25%;
  height: 300px;
  margin-bottom: 32px;
}

.subject img {
  width: 100%;
  height: auto;
}

.subject.left {
  margin-left: 72px;
}

.subject.middle {
  margin-left: 32px;
  margin-right: 32px;
}

.subject.right {
  margin-right: 72px;
}

.course-info {
  text-align: left;
  background-color: white;
  height: 168px;
  padding-left: 16px;
  padding-top: 16px;
}

.course-info p {
  padding-top: 16px;
  color: #706F6F;
}

.mobile-container.courses {
  display: none;
}

/* THESIS */

.thesis h1{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.thesis-info {
  display: inline-flex;
}

.main-thesis{
  width: 60%;
  margin-bottom: 32px;
  margin-right: 24px;
}

.main-thesis h2 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.thesis-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}



/* FOOTER */

footer {
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding-top: 16px;
  padding-left: 24px;
}

.links {
  padding-top: 16px;
  padding-right: 8px;
}

.links a {
  margin-right: 16px;
}

/* MOBILE STYLES */

@media only screen and (max-width: 860px) {
  .mobile-container {
    max-width: 100%;
  }

  .container nav{
    display: none;
  }

  nav.mobile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner img {
    width: 100%;
    height: auto;
    margin: 0px 0px;
  }

  .banner .start {
    width: 90%;
    padding: 32px 16px;
  }

  .button {
    width: 80%;
  }

  div.success {
    display: none;
  }

  div.events {
    width: 100%;
  }

  img.desktop-image {
    display: none;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }

  .image-details {
    width: 100%;
    padding: 16px;
  }

  .image-container img.mobile-image {
    display: block;
    width: 100%;
    margin-left: 0px;
  }

  .container.courses {
    display: none;
  }

  .mobile-container.courses {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .mobile-container.courses span {
    padding: 16px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right:8px;
    background-color: #B8D8D8;
  }

  div.main-thesis {
    width: 100%;
    margin-right: 0px;
  }

  .main-thesis h2, .main-thesis p {
    display: none;
  }

  div.thesis-list {
    display: none;
  }

  footer.container {
    width: 100%;
  }

}
