html {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

.container {
  max-width: 1024px;
  margin: auto;
}

/* HEADER */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header-logo {
  margin-left: 24px;
  height: 32px;
  display: flex;
  align-items: center;
}

.menu {
  padding-right: 8px;
}

.menu span {
  margin-right: 16px;
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.banner img {
  width: 60%;
  margin: 32px 24px;
}

.banner .start {
  width: 30%;
}

.banner .button h2{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border: solid black;
}

.start h1, .start h2 {
  margin-bottom: 24px;
}

/* INFORMATION SECTION */

.information {
  width: 100%;
  border: solid black;
  display: flex;
  align-content: space-between;
}

.success {
  margin: 32px 24px;
  width: 60%;
}

.success img {
  width: 100%;
}

.events {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.image-container {
  display: inline-flex;
  align-items: center;
}

.image-container img {
  width: 35%;
  height: auto;
}

.image-details {
  width: 65%;
}

/* COURSES */

.courses {
  width: 100%;
  text-align: center;
  border: solid black;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;
}

.courses h1 {
  display: block;
}

.subject {
  border: solid black;
  width: 25%;
}

.subject img {
  width: 100%;
}

.subject.left {
  margin-left: 72px;
}

.subject.middle {
  margin: 32px;
}

.subject.right {
  margin-right: 72px;
}

/* THESIS */

.thesis {
  text-align: center;
}

.thesis-info {
  display: inline-flex;
}

.main-thesis{
  width: 60%;
}

.thesis-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* FOOTER */

footer {
  border: solid black;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
